
:root{
    --theme-colour_background: white;
    --theme-colour_text: black;
    --theme-colour_secondary: grey;
    
}
@media(prefers-color-scheme:dark){
    :root{
        --theme-colour_background:black;
        --theme-colour_text: white;
        --theme-colour_secondary: grey;
    }


}

body{
    background-color: var(--theme-colour_background);
}


#navbar{
    display:flex;
    flex-direction:row;
    background-color: var(--theme-colour_secondary);
    justify-content:right;


}

#nav-items{
    color: var(--theme-colour_text);
    margin-right: 20px;
    
}
.nav-item{
    float:right;
    background-color: var(--theme-colour_secondary);
    color: var(--theme-colour_text);

}
.nav-item:hover{
    background-color:var(--theme-colour_text);
    color: var(--theme-colour_background);


}