:root{
    font-size: 16px;
    --background:hsl(38, 38%, 84%);
    --primary-text: hsl(217, 10%, 34%);
    --secondary-1:hsl(48, 21%, 71%);
    --secondary-2:hsl(6, 13%, 46%);
    --secondary-3:hsl(40, 9%, 56%);
    --secondary-text: #FEFEFE;
}