.socials{
    display:flex;
    flex-direction:row;
    padding-top:2rem;
    padding-left:9.5rem;
  
  }
  .Social-icons{
    padding:0.5rem;

  }
  .icon{
    width:4rem;
    height:4rem;
  }
  /*hover selector to triger underline*/
  .Social-icons:hover .social-seperator{
    opacity:1;
  }
  .social-seperator{
    background-color:var(--primary-text);
    opacity: 0;
    border-radius: 10px;
    height:6px;

  }

.Seperator{

    height: 6px;

    opacity: 0;
    background-color: var(--primary-text);
}
.socials:hover .Seperator{
    opacity: 1;
}